{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Log In{% endblock %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <p>You are already logged in</p>
        {% else %}
            <form method="post">
                {% csrf_token %}
                <div style="width: 500px">
                    {% bootstrap_form form layout='horizontal' %}
                </div>
                <input type="hidden" name="next" value="{% url 'countries' %}">
                {% buttons submit='Submit' %}{% endbuttons %}
            </form>
        {% endif %}
    </div>
{% endblock %}


