{% extends 'base.html' %}
{% load extras %}

{% block title %}{{ city.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="container" style="text-align: center; padding-top: 10px; ">The city {{ city.name }}</h3>
        <div class="row">
            <div class="col">
                <p><i>{{ city.name }} is the city of {{ city.country.name|upper }}.</i></p>
                <p><i>The population of {{ city.name }} is {{ city.population }} thouthands people.</i></p>
                <p><i>
                    {% if city.has_mcdonalds %}
                        There is a McDonald's in the city.
                        <img src="{{ city.has_mcdonalds|image_tag }}" width="30px" height="30px">
                    {% else %}
                        Unfortunately, there isn't a McDonald's in the city.
                        <img src="{{ city.has_mcdonalds|image_tag }}" width="30px" height="30px">
                    {% endif %}
                </i></p>
            </div>
            <div class="col"><img style="padding-bottom: 10px" width="500" height="350px" src="/media/{{ city.flag }}">
            </div>
        </div>
        <h4><b>WEATHER ({{ weather.created_at }})</b></h4>
        <div class="row">

            <div class="col-md-3"><h5><i>{{ weather.description }}</i></h5><img style="padding-bottom: 10px" width="200" height="200"
                                  src="{{ weather.icon }}"></div>
            <div class="col">
                <h2>{{ weather.temperature }} &deg;C</h2>
                <p>Feels like: {{ weather.feels_like }} &deg;C</p>
                <p>Pressure: {{ weather.pressure }}hPa</p>
                <p>Humidity: {{ weather.humidity }}%</p>
                <p>Wind speed: {{ weather.wind_speed }} meter/sec</p>
            </div>
        </div>
    </div>
{% endblock %}