{% extends 'base.html' %}

{% block title %} Countries {% endblock %}

{% block content %}
    <div class="main" style="padding-left: 20px; padding-top: 10px; ">
        <table id="countries_table" border="3" class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Country</th>
                <th>ISO</th>
                <th>Population</th>
                <th>Flag</th>
            </tr>
            </thead>
            <tbody>
            {% for country in countries %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <th><a href="{% url 'country' pk=country.id %}">{{ country.name }}</a></th>
                    <td>{{ country.iso }}</td>
                    <td>{{ country.population }}</td>
                    <td><img src="/media/{{ country.flag }}" width="50px" height="30px"></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}


{% block js %}
    <script>
        $(document).ready(function () {
            $('#countries_table').DataTable();
        })
    </script>
{% endblock %}