{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %} Edit city {{ city.name }}{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="container" style="text-align: center; padding-top: 10px; ">Edit city {{ city.name }}</h3>
        <form method="POST" class="post-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div style="width: 500px">
                {% bootstrap_form form layout='horizontal' %}
            </div>
            {% buttons submit='Save' %}{% endbuttons %}
        </form>
        </form>
    </div>
{% endblock %}
